<h4>Buscar paciente por:</h4>
<div class="row">
  <!--div class="col-1 mb-3"></div-->
  <div class="col-4 mb-3">
    <div>
      <label for="radioNif">NIF</label>
    </div>
    <div class="input-group">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" value="nif"
         id="radioNif" name="radioNifSsn" [(ngModel)]="radioNifSsn" (change)="limpiar()">
      </div>
      <input type="text" class="form-control" name="nif" placeholder="Introducir número identificación fiscal" [(ngModel)]="nif">
    </div>
  </div>
  <div class="col-7 mb-3"></div>
  <div class="col-1 mb-3"></div>
  <div class="col-4 mb-3">  
    <div>
      <label for="radioSsn">SSN</label>
    </div>
    <div class="input-group">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" value="ssn" id="radioSsn" name="radioNifSsn" [(ngModel)]="radioNifSsn" (change)="limpiar()">
      </div>
      <input type="text" class="form-control" name="ssn" placeholder="Introducir número seguridad social" [(ngModel)]="ssn">
    </div>
  </div> 
  <div class="col-7"></div>
  <div class="col-1"></div>
  <div class="col-2 mb-3">
    <button class="btn btn-primary" type="submit" (click)="buscarPaciente()">Buscar</button>
  </div>
  <div class="col-9"></div>
</div>


  <div *ngIf="busquedaRealizada">
    <div *ngIf="pacienteEncontrado">     
      <h6 class="col-7 text-center mt-4">Encontrado: {{nombreCompletoPaciente}}</h6>            
      <div class="row">    
        <div class="col-1 mb-3"></div>
        <div class="col-6 mb-3">
          <button class="btn btn-primary m-3" type="submit" (click)="modificarPaciente()">Modificar</button>
          <button class="btn btn-primary m-3" type="submit" (click)="asignarTrabajoPaciente()">Asignación trabajos</button>
          <button class="btn btn-primary m-3" type="submit" (click)="eliminarPaciente()">Eliminar</button>
        </div>
      </div>
    </div>
    <div *ngIf="!pacienteEncontrado"> 
        <p class="col-7 text-center mt-4 text-danger">No se ha encontrado ningún paciente con los datos indicados</p>
    </div>
  </div>


    