<h4>Datos del paciente</h4>
<form>
  <div class="row">
    <div class="col-5 mb-3">
      <label for="nif">N.I.F.</label>
      <input type="text" class="form-control" id="nif" name="nif"
      [(ngModel)]="paciente.nif" placeholder="número de identificación fiscal" required>
      <div *ngIf="faltaNif">
        <p class="text-danger">Introduzca un número de identificación fiscal</p>
      </div>
    </div>
    <div class="col-5 mb-3">
      <label for="ssn">SSN</label>
      <input type="text" class="form-control" id="ssn" name="ssn"
      [(ngModel)]="paciente.ssn" placeholder="número de la seguridad social">
    </div>      
  </div>
  
  <div class="row">
    <div class="col-5 mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre"
      [(ngModel)]="paciente.nombre" placeholder="Nombre" required>
      <div *ngIf="faltaNombre">
        <p class="text-danger">Introduzca un nombre</p>
      </div>
    </div>
    <div></div>
    <div class="col-5 mb-3">
      <label for="primerApellido">Primer Apellido</label>
      <input type="text" class="form-control" id="primerApellido" name="primerApellido"
      [(ngModel)]="paciente.primerApellido" placeholder="primer apellido" required>
      <div *ngIf="faltaApellido">
        <p class="text-danger">Introduzca un apellido</p>
      </div>
    </div>
    <div class="col-5 mb-3">
      <label for="segundoApellido">Segundo Apellido</label>
      <input type="text" class="form-control" id="segundoApellido" name="segundoApellido"
      [(ngModel)]="paciente.segundoApellido" placeholder="segundo apellido">
    </div>
  </div>    
  <div class="row">
    <div class="col-5 mb-3">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento"
      [(ngModel)]="fechaTexto" placeholder="fecha de nacimiento">
      <div *ngIf="errorEnFecha">
        <p class="text-danger">La fecha no puede ser posterior a la actual</p>
      </div>
    </div>
    <div class="col-5 mb-3">
      <label for="telefono">Teléfono</label>
      <input type="number" class="form-control" id="telefono" name="telefono"
      [(ngModel)]="paciente.telefono" placeholder="número de telefono">
      <div *ngIf="errorEnTelefono">
        <p class="text-danger">Introduzca un número de contacto válido</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mb-3">
      <label for="direccion">Dirección completa</label>
      <input type="text" class="form-control" id="direccion" name="direccion"
      [(ngModel)]="paciente.direccion" placeholder="dirección completa">
      <div *ngIf="errorEnDireccion">
        <p class="text-danger">Introduzca una dirección más corta</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mb-3">
      <label for="municipio">Municipio</label>
      <input type="text" class="form-control" id="municipio" name="municipio"
      [(ngModel)]="paciente.municipio" placeholder="municipio o población">
    </div>
    <div class="col-5 mb-3">
      <label for="codPostal">Código postal</label>
      <input type="number" class="form-control" id="codPostal" name="codPostal"
      [(ngModel)]="paciente.codPostal" placeholder="código postal">
    </div>
  </div>
  <div class="row">
    <div class="col-5 mb-3">
      <label for="provincia">Provincia</label>
      <input type="text" class="form-control" id="provincia" name="provincia"
      [(ngModel)]="paciente.provincia" placeholder="provincia">
    </div>
  </div>
  <div class="row" *ngIf="crearModificar == 'crear'">
    <div class="col-1 mb-3">
      <button class="btn btn-primary" type="submit" (click)="crear()">Crear</button>
    </div>
    <div class="col-4 mb-3" *ngIf="pacienteCreadoOK">
      <p class="text-success">El paciente se ha creado correctamente</p>
    </div>
  </div>
  <div class="row" *ngIf="crearModificar == 'modificar'">
    <div class="col-2 mb-3">
      <button class="btn btn-primary" type="submit" (click)="guardar()">Guardar</button>
    </div>
    <div class="col-4 mb-3" *ngIf="pacienteActualizadoOK">
      <p class="text-success">El paciente se ha actualizado correctamente</p>
    </div>
  </div>  
</form>
  